{% extends 'polls/base.html' %}
{% block Title %}Links List{% endblock %}
{% block Body %}

<style>
   .colortext {
     color: red; /* Красный цвет выделения */
   }
  </style>

{% if links_list %}
  <ul>
      {% if request.user.is_superuser %}
<legend>Links of all authors:</legend>

    {% for links in links_list %}
         <a href="{% url 'polls:detail' links.id %}">
          {{ links.url_text|slice:':75' }}
        </a>
     <br> <b>Author:</b>{{ links.author }} {% if links.author.is_staff %} <span class="colortext">(customer)</span> {% endif%}
           <b>Date:</b> {{ links.create_date }} <a href="{% url 'polls:delete' links.id %}" type="button" class="btn btn-danger btn-sm">
                  Delete
        </a>
      <br> <br>
             {% endfor %}

      <legend>Your links, [{{ request.user.username }}]</legend>
        {% endif %}

        {% if links.author == request.user %}
        <legend>Your links as an author:</legend>
      {% endif %}
       {% for links in links_list %}
      {% if links.author == request.user %}

        <a href="{% url 'polls:detail' links.id %}">
          {{ links.url_text|slice:':75' }}
        </a>
          <br> <b>date:</b>[{{ links.create_date }}]
        <a href="{% url 'polls:delete' links.id %}" type="button" class="btn btn-danger btn-sm">
                  Delete
        </a>
         {% endif %}
      {% endfor %}

  </ul>

{% else %}
  <p>No links avaliable.</p>
{% endif %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'polls:new' %}"  type="button" class="btn btn-danger">Add New Link</a>
    {% endif %}
{% endblock %}